*{margin: 0px; padding: 0px;}

.wrapper{width:100%;}
#icon1{ position: absolute; left: 60px; top: 15px; border-right: 1px solid rgba(216, 214, 212, 0.74); height: 50px;}
#icon2{ position: absolute; left:390px; top: 18px; height: 46px;}
#icon3{position: absolute; left: 60px; top: 15px; height: 50px; display: none;}
#icon4{position: absolute; left:160px; top: 18px; height: 46px; display: none}
.navbar{position: relative; height: 80px; background-color: #0f1680;  margin: 0 auto;}
.navbar>ul{position: absolute; right: 0px; top: 45px;}
.navbar>ul>li{display: inline-block; list-style: none; font-family: "Microsoft YaHei UI"; color: white; padding: 0px 15px;}
.navbar>a{display: none;}
.hide{display: none;}
/*这里用inline-block，只需要把ul设置成absolute就可以撑开父亲元素*/

#nav-switch{width: 30px;  height: 30px;  position: absolute;  right: 30px;  top: 60%;  margin-top: -15px;
    background: url(../images/icons.png) no-repeat -24px -64px;
}

.navbar>ul>li:nth-child(n+2){ border-left: 1px solid white}
.carousel { margin: 0 auto;}
.carousel img{width: 100%; margin: 0 auto;}
.topHr{height: 8px; margin: 0 auto;
    background-image: linear-gradient(left, #ffc808, #974C04, #FFED21, #974C04, #ffc808);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #ffc808, #974C04, #FFED21, #974C04, #ffc808);
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, left top, right top, from(#ffc808), color-stop(0.25, #974C04), color-stop(0.5, #FFED21), color-stop(0.75, #974C04), to(#ffc808));
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(left, #ffc808, #974C04, #FFED21, #974C04, #ffc808);
    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #ffc808, #974C04, #FFED21, #974C04, #ffc808);
}
.bottomHr{height: 2px; margin: 0 auto;
    background-color: #79240b;
}
.section1Top{text-align: center; margin: 40px 0px;}

.section1Top li{display:inline-block; padding: 0 30px; font-family: "Microsoft YaHei UI"; font-size: 1.6em; position: relative}

.section1Top li:nth-child(n+2)::before{
    content:"";
    height:5px;
    width:5px;
    border-radius: 5px;
    background-color: #0f1680;
    position: absolute;
    top: 15px;
    left: -4px;
}

.section1{width:80%; margin: 0 auto;}
.section1Content{}
.section1Content>div{width: 33.333%; float: left}



.sidebar{
    float: left;
    width: 20%;
    height :10%;
}

.sidebarInner{
    width:20%;
    margin: 0 auto;
}
.sidebarInner p{
    line-height: 25px;
}

.content{
    float: left;
    width:80%;
}
.ic{height: 8px; width: 8px; border-radius: 50%; background-color: #6976f2; margin: 7px 7px 7px 0; float: left}
.title{
    position: absolute;
    left: 15px;
    right: 80px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.date{float: right;}
.item{height: 24px; width: 80%; margin-bottom: 3px; position: relative}

.section2{position: relative}
.section2>img{margin: 40px auto; width: 80%; display: block}

.section2>*:not(img){position: absolute; width: 29%; top: 8%; height: 55%}

/*.signup{background-color: #FFED21; left: 23%; }*/
/*.student{background-color: blueviolet; left: 55%;}*/
.signup{left: 23%; }
.student{left: 55%;}
.signupTop{text-align: center; font-family: "Microsoft YaHei UI";}
.signupTop>p{font-size: 20px;}
.signup>.block{width: 33.33%; float: left; padding:3% 0px;}
.student>.block{width: 33.33%; float: left; padding:3% 0px;}


.section3{
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}
.section3>.asso,
.section3>.culture{text-align: center; font-family: "Microsoft YaHei UI"; height: 40px; background-color: #edfaf8; width: 49.9%; line-height: 40px; font-size: 20px}
.asso{float: left}
.culture{float: right}

.section3Content>.people,
.section3Content>.communicate{width: 49.9%; padding: 30px 0px;}
.people{float: left;}
.people>p{  font-size: 15px;  }
.communicate{float: right; position: relative}
.main>.content{width: 95%; margin: 0 auto;}
.main>.content>.item{width: 100%}

.section4{width: 80%; margin: 0 auto;}
.section4>img{display: block; width: 100%;}
.links{margin: 40px 0px; text-align: center}
.link{padding: 0px 10px; display: inline-block; font-size: 1px;}

.footer{
    text-align: center;
    font-size: 12px;
    color: cornflowerblue;
    background-color: #edfaf8;
}
.footerimg>img{
    width: 100%;
}
.footer>ul{
    padding: 30px 0px 30px 0px;
    line-height: 30px;
}

.language>ul>li{

    display: inline-block;
    font-size: 20px;
    padding: 0px 18px 30px;
}

@media screen and (max-width: 1250px) and (min-width: 1141px) {
    .navbar>ul>li{padding: 0px 8px;}
}

@media screen and (max-width: 1140px) and (min-width: 1001px) {
    #icon1,#icon2{display: none;}
    #icon3,#icon4{display: block;}
    .section1,.section2>img,.section3,.section4{width: 90%;}
  /*   .hide{display: block}
  .hide1{display: none} */
}

@media screen and (max-width: 1000px) and (min-width: 720px) {
    .section1Content>div{width: 100%;}
    .section1Content .news,
    .section1Content .notice{width: 50%;}
    .section1Top>ul>li{font-size: 1em;}
    .section1Top>ul>li:nth-child(n+2)::before{height:4px; width:4px; top: 9px;}
    #icon1,#icon2{display: none;}
    #icon3,#icon4{display: block;}
    .academic>.sidebar{width:10%;}
    .academic>.content{width:90%;}
    .hide{display: block}
    .hide1{display: none}
}

@media screen and (max-width: 719px) {
    .section1Content>div{width: 100%;}
    .section1Top li{font-size: .5em;}
    .section1Top li:nth-child(n+2)::before{height:2px; width:2px; top: 7px;}
    #icon1,#icon2{display: none;}
    #icon3,#icon4{display: block;}
    .navbar>ul {
        position: absolute;
        top: 111%;
        width: 100%;
        text-align: center;
        font-size: 21px;
    }
    .navbar>ul>li {
        display: block;
        list-style: none;
        font-family: "Microsoft YaHei UI";
        color: white;
        padding: 10px 15px;
        background-color: rgba(7,7,7,0.8);
        border-bottom: 1px #555 solid;
    }
    .navbar>ul{display: none;}
    .navbar>a{display: block;}
    .hide{display: block}
    .hide1{display: none}
}